<div>
    <section style="height: 70vh"><img src="/images/beer.png" alt="beer"></section>


<section style="display: flex;">
    <div><a href="/beers"><button>Check the Beers!</button></a></div>
    <div><a href="/random"><button>Check a RANDOM BEER! </button></a></div>
</section>
 
</div>