<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
    <nav style="display: flex;">
        <div><a href="/"><button>HOME</button></a></div>
        <div><a href="/beers"><button>BEERS</button></a></div>
        <div><a href="/random"><button>RANDOM BEERS</button></a></div>

    </nav>
    {{{body}}}
</body>
</html>