<div>
    {{#each beer}}
    <div class="singleBeerContainer">

         {{>beerP}}

    </div>

<div class="additionalInfo">
    <p> <b>Food Pairing:</b>
         {{this.food_pairing}}</p>

    <p> <b>Brewers Tips:</b>  {{this.brewers_tips}}</p>

    </div>
   

    {{/each}}
</div>